<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396087379859-4tee9o4c0j4avi7genvhh5if8et34gg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396087379859-4tee9o4c0j4avi7genvhh5if8et34gg1</string>
	<key>API_KEY</key>
	<string>AIzaSyDiFkXPtyNCUtWZyNkB-kGDtDK0QehK3xk</string>
	<key>GCM_SENDER_ID</key>
	<string>396087379859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.NotificationPracticeApp</string>
	<key>PROJECT_ID</key>
	<string>swiftnotificationapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftnotificationapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396087379859:ios:b3e89deecebe0e55a44a66</string>
	<key>DATABASE_URL</key>
	<string>https://swiftnotificationapp.firebaseio.com</string>
</dict>
</plist>